.profile__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__text {
    gap: 14px;
    align-items: center;
  }
}
