.form__signin-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: 5px;
  background-color: black;
}

.form__signin-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
