.form__submit-button {
  width: 100%;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  margin: 216px auto 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.form__submit-button:hover {
  cursor: pointer;
  opacity: 0.85;
}
